# This file is part of File Browser and has been released into the public domain.
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020-2023 Mirian Margiani

build*
*.pro.user
*.spec.*
*~
*.~*
*.qm
dist*
liverunner*
TODO*
add-gpl.sh

debug/

icon-src/raw
icon-src/*/raw
root/build*
root/RPMS

libs/opal-translations
libs/opal-docs
