[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=File Browser
Icon=harbour-file-browser-beta
Exec=harbour-file-browser-beta
Categories=System;FileTools;FileManager

# Translators: the name has to be short enough not to be abbreviated
# by the system (launcher view).
Name[en]=File Browser
Name[fi]=Tiedostoselain
Name[de]=Dateiverwaltung
