# This file is part of File Browser.
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2013 Kari Pihkala
# SPDX-FileCopyrightText: 2015 tathhu
# SPDX-FileCopyrightText: 2016 Kari Pihkala
# SPDX-FileCopyrightText: 2019-2021 Mirian Margiani
[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=File Browser
Icon=harbour-file-browser
Exec=harbour-file-browser %f
Categories=System;FileTools;FileManager
MimeType=inode/directory;

# Translators: the name has to be short enough not to be abbreviated
# by the system (launcher view).
Name[en]=File Browser
Name[fi]=Tiedostoselain
Name[de]=Dateiverwaltung
Name[pl]=Pliki
