# This file is part of File Browser.
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2020-2022 Mirian Margiani
[Desktop Entry]
Type=Application
Name=File Browser (Root)
Icon=harbour-file-browser-root
Exec=/usr/share/harbour-file-browser-root/start-root
Categories=System;FileTools;FileManager
X-Desktop-File-Install-Version=0.20

# Translators: the name has to be short enough not to be abbreviated
# by the system (in the launcher view). Make sure "root" is always visible,
# or make sure in any other way that this is to be used with caution.
Name[en]=File Br. (Root)
Name[de]=Dateiverw. (Root)

[X-Sailjail]
Sandboxing=Disabled
OrganizationName=harbour-file-browser
ApplicationName=harbour-file-browser
